/* frontend/styles/globals.css */
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* --- CONFIGURACIÓN DE RADIOS --- */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* --- PALETA CORPORATIVA OFICIAL (MANUAL DE MARCA) --- */
  --color-brand-charcoal: #171411;
  --color-brand-silver: #cbcbcb;
  --color-brand-black: #0a0a0a;

  /* --- ESTANDARIZACIÓN SEMÁNTICA E-COMMERCE / POS --- */
  
  /* Superficies */
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-brand-silver);
  --color-surface-inverse: var(--color-brand-charcoal);

  /* Tipografía */
  --color-fg-primary: var(--color-brand-charcoal);
  --color-fg-secondary: var(--color-brand-silver);
  --color-fg-inverse: #ffffff;

  /* Acciones y CTAs */
  --color-action-primary: var(--color-brand-charcoal);
  --color-action-primary-hover: var(--color-brand-black);

  /* Bordes y Divisores */
  --color-border-default: var(--color-brand-silver);
}

/* para el carrusel principal */

.banner-slot {
    height: var(--banner-h-mobile, 500px);
}

@media (min-width: 1024px) {
    .banner-slot {
        height: var(--banner-h, 540px);
    }
}
